.movie-plot-pg {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #3d3d3d;
    color:#ffe0e0;
    width: 100%;
}

.movie-img {
    background-color: #ffe0e0;
    margin: 0rem 0rem 0rem 4rem;
    border-radius: 1rem;
}

.plot-info {
    padding: 1rem;
    margin: 1rem 1rem 1rem 2rem;
}

.error-notice {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
  }
